<li>

  <% if !list.users.exists?(current_user) %>
    <%= button_to( "Add", addUser_path(list.id)  ) %>
  <% end %>

  <%= link_to list.name, list_path(list.id) %>  
  <%= current_user.lists.length > 0 ? percent_done(list.tasks.mine(current_user)) : 0 %>%
</li>

