<h1>Tasks</h1>
<!-- render( partial: "collection",
           collection: current_user.tasks,
           #%w{a b c d e fun ghost house indigo},
           spacer_template: "spacer"
) -->
<h3>All:</h3>
<%= render( partial: "doable_task",
           collection: current_user.tasks,
           spacer_template: "spacer"
) %>
<br />
<h3>ByList</h3>
<%= render( partial: "by_list",
           collection: current_user.tasks,
           spacer_template: "spacer"
) %>
<h3>ByType</h3>
<%= render( partial: "by_doable",
           collection: current_user.tasks.sort_by{|t| t.doable_type},
           spacer_template: "spacer"
) %>
